.Footer2 {
  width: 100%;
  background: #332e2e;
  text-align: center;
  padding: 2% 0;
}
.Footer2 h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
@media only screen and (max-width: 450px) {
    .Footer2 {
      width: 100%;
      padding: 5%;
    }
    .Footer2 h1{
      font-size: 16px;
      padding: 2%;
    }
}