.NotFoundpages {
    width: 100%;
    height: 60vh;
    background: #332e2ebe;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 0 auto !important;
}
.ppe{
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 auto !important;
    font-size: 60px;
}
.ppe i {
    color: #fff;
    font-size: 60px;
    padding: 0 20px;
}
