.foterall{
  background: #332E2E;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3% 8%;
  display: flex;
}
@media only screen and (max-width: 450px) {
    .foterall{
      flex-wrap: wrap;
    }
}