.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: #332e2e;
  color: #FFF;
  height: 50px;
  padding: 2.5em 1em;

}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  font-weight: 600;
  font-size: 19px;
  padding: 10px 20px;
}
.menu li a {
  color: #FFF !important;
}
.menu li p{
  padding:  1rem !important;
}
.menu li{
  transition: 0.4s;
}
.menu li:hover {
  background-color: red;
  padding: 10px 20px;
  border: 1px solid red;
  border-radius: 60% 0 60% 0;
  box-shadow: rgba(255, 0, 0, 0.25) 0px 54px 55px, rgba(255, 0, 0, 0.12) 0px -12px 30px, rgba(255, 0, 0, 0.12) 0px 4px 6px, rgba(255, 0, 0, 0.17) 0px 12px 13px, rgba(255, 0, 0, 0.09) 0px -3px 5px;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu-toggle {
  display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
  content: "";
  margin-top: -8px;
}
.menu-button::after {
  content: "";
  margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@media (max-width: 860px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    z-index: 99;
    top: 0;
    margin-top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.7em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
@media only screen and (max-width: 860px) {
  .poiu{
    background: #222;
    border-radius: 0 0 10px 10px !important;
  }
  .menu li {
    color: #fff;
    border: 1px solid #fff;
  }
  .menu li:hover {
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: red;
    color: #222;
    border: 1px solid #fff;
  }
}
